In [1]:
#imports
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
#setup chromedriver
executable_path = {'executable_path': 'C:\\Users\\jerem\\chromedriver\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:

#define url for scraping
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

#delay to allow site to load
time.sleep(5)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [4]:
#pull articles from url
news = soup.find('li', class_='slide')
print(news)

<li class="slide"><div class="image_and_description_container"><a href="/news/8735/celebrate-mars-reconnaissance-orbiters-views-from-above/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Side-by-side movies shows how the 2018 global dust storm enveloped Mars" src="/system/news_items/list_view_images/8735_collage-320.jpg"/></div><div class="bottom_gradient"><div><h3>Celebrate Mars Reconnaissance Orbiter's Views From Above</h3></div></div></a><div class="list_text"><div class="list_date">August 12, 2020</div><div class="content_title"><a href="/news/8735/celebrate-mars-reconnaissance-orbiters-views-from-above/" target="_self">Celebrate Mars Reconnaissance Orbiter's Views From Above</a></div><div class="article_teaser_body">Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.</div></div></div></li>

In [11]:

news_date = news.find('div', class_='list_date').text
news_title = news.find('h3').text
news_para = news.find('div', class_='article_teaser_body').text
news_img = news.find('div', class_='list_image').img['src']

    
print(news_date)
print(news_title)
print(news_para)
print(f"https://mars.nasa.gov{news_img}")

August 12, 2020
Celebrate Mars Reconnaissance Orbiter's Views From Above
Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.
https://mars.nasa.gov/system/news_items/list_view_images/8735_collage-320.jpg

In [6]:
#define second url for scraping
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

#delay to allow site to load
time.sleep(3)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [7]:
img_title = soup.find('h1').text
print(img_title)

				  Cassiopeia A: Death Becomes Her

In [8]:
#navigate to the full featured image
browser.click_link_by_partial_text('FULL IMAGE')
#delay to allow site to load
time.sleep(1)

C:\Users\jerem\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [9]:
browser.click_link_by_partial_text('more info')
time.sleep(1)

In [10]:
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [11]:
featured_image_fig = soup.find('figure', class_='lede')
print(featured_image_fig)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA03519_hires.jpg"><img alt="This false-color image from three of NASA's Great Observatories provides one example of a star that died in a fiery supernova blast. Called Cassiopeia A, this supernova remnant is located 10,000 light-years away in the constellation Cassiopeia." class="main_image" src="/spaceimages/images/largesize/PIA03519_hires.jpg" title="This false-color image from three of NASA's Great Observatories provides one example of a star that died in a fiery supernova blast. Called Cassiopeia A, this supernova remnant is located 10,000 light-years away in the constellation Cassiopeia."/></a>
</figure>

In [12]:

featured_image_url = (f"https://www.jpl.nasa.gov{featured_image_fig.img['src']}")
featured_image_cap = featured_image_fig.img['alt']

print(featured_image_url)
print(featured_image_cap)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA03519_hires.jpg
This false-color image from three of NASA's Great Observatories provides one example of a star that died in a fiery supernova blast. Called Cassiopeia A, this supernova remnant is located 10,000 light-years away in the constellation Cassiopeia.

In [13]:
#define third url for scraping
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

#delay to allow site to load
time.sleep(5)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [14]:

article = soup.find('article', class_= 'css-1dbjc4n r-1loqt21 r-18u37iz r-1ny4l3l r-o7ynqc r-6416eg')

weather = article.find_all('span', class_= 'css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')

weather_text= (weather[4].text)

print(weather_text)

InSight sol 607 (2020-08-11) low -93.1ºC (-135.6ºF) high -18.9ºC (-2.1ºF)
winds from the WNW at 8.2 m/s (18.4 mph) gusting to 21.4 m/s (47.8 mph)
pressure at 7.90 hPa

In [15]:
#define fourth url for scraping
url = 'https://space-facts.com/mars/'
browser.visit(url)

#delay to allow site to load
time.sleep(3)

tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
facts_db = tables[0]
facts_db.rename(columns={0:'Mars Planet Profile'}, inplace=True)
facts_db.rename(columns={1:''}, inplace=True)
facts_db.set_index('Mars Planet Profile', inplace=True)
facts_db

Mars Planet Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
facts2_db = tables[1]
facts2_db.set_index('Mars - Earth Comparison', inplace=True)
facts2_db

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:               -153 to 20 °C      -88 to 58°C

In [29]:
#define fifth url for scraping
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

#delay to allow site to load
time.sleep(3)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [30]:

hemi_names = soup.find_all('h3')

In [33]:

for name in hemi_names:
    browser.click_link_by_partial_text(name.text)
    #delay to allow site to load
    time.sleep(2)
    html = browser.html
    soup = BeautifulSoup(html, 'lxml')
    
    url_li = soup.find('li')
    url_a = url_li.find('a')
    url_pic = url_a.get('href')
    
    name = name.text
    name = name.replace(' ','_')
    browser.back()
    #delay to allow site to load
    time.sleep(1)

In [34]:
print(name)

Valles_Marineris_Hemisphere_Enhanced

In [35]:
browser.quit()