In [1]:
#imports
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
#setup chromedriver
executable_path = {'executable_path': 'C:\\Users\\jerem\\chromedriver\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:

#define url for scraping
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

#delay to allow site to load
time.sleep(5)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [4]:
#pull articles from url
news = soup.find('li', class_='slide')
print(news)

<li class="slide"><div class="image_and_description_container"><a href="/news/8731/nasas-maven-observes-martian-night-sky-pulsing-in-ultraviolet-light/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="ultraviolet “nightglow” in the Martian atmosphere" src="/system/news_items/list_view_images/8731_MAVEN_nightglow_pulsating_spot-320x240.jpg"/></div><div class="bottom_gradient"><div><h3>NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light</h3></div></div></a><div class="list_text"><div class="list_date">August  6, 2020</div><div class="content_title"><a href="/news/8731/nasas-maven-observes-martian-night-sky-pulsing-in-ultraviolet-light/" target="_self">NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light</a></div><div class="article_teaser_body">Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.</div></div></div></li>

In [5]:

news_date = news.find('div', class_='list_date').text
news_title = news.find('h3').text
news_para = news.find('div', class_='article_teaser_body').text

print(news_date)
print(news_title)
print(news_para)

August  6, 2020
NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light
Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.

In [6]:
#define second url for scraping
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

#delay to allow site to load
time.sleep(3)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [7]:
img_title = soup.find('h1').text
print(img_title)

				  Ida and Dactyl in Enhanced Color

In [8]:
#navigate to the full featured image
browser.click_link_by_partial_text('FULL IMAGE')

C:\Users\jerem\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [9]:
#delay to allow site to load
time.sleep(3)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [10]:
featured_image_div = soup.find('div', class_='fancybox-inner fancybox-skin fancybox-dark-skin fancybox-dark-skin-open')
print(featured_image_div)

<div class="fancybox-inner fancybox-skin fancybox-dark-skin fancybox-dark-skin-open" style="border-width: 10px; margin-top: -10px; margin-left: -10px; overflow: visible; width: 799px; height: 579px;"><img class="fancybox-image" src="/spaceimages/images/mediumsize/PIA00069_ip.jpg" style="display: inline;"/><a class="fancybox-nav fancybox-prev" href="javascript:;" title="Previous"><span></span></a><a class="fancybox-nav fancybox-next" href="javascript:;" title="Next"><span></span></a><a class="fancybox-expand" href="javascript:;" style="display: none;" title="Expand image"></a></div>

In [11]:

featured_image_url = (f"https://www.jpl.nasa.gov{featured_image_div.img['src']}")
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA00069_ip.jpg

In [12]:
#define third url for scraping
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

#delay to allow site to load
time.sleep(5)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [13]:

article = soup.find('article', class_= 'css-1dbjc4n r-1loqt21 r-18u37iz r-1ny4l3l r-o7ynqc r-6416eg')

weather = article.find_all('span', class_= 'css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')

weather_text= (weather[4].text)

print(weather_text)

InSight sol 604 (2020-08-07) low -91.7ºC (-133.1ºF) high -16.3ºC (2.6ºF)
winds from the WNW at 8.1 m/s (18.2 mph) gusting to 20.2 m/s (45.2 mph)
pressure at 7.90 hPa

In [14]:
#define fourth url for scraping
url = 'https://space-facts.com/mars/'
browser.visit(url)

#delay to allow site to load
time.sleep(3)

tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
facts_db = tables[0]
facts_db.rename(columns={0:'Mars Planet Profile'}, inplace=True)
facts_db.rename(columns={1:''}, inplace=True)
facts_db.set_index('Mars Planet Profile', inplace=True)
facts_db

Mars Planet Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
facts2_db = tables[1]
facts2_db.set_index('Mars - Earth Comparison', inplace=True)
facts2_db

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:               -153 to 20 °C      -88 to 58°C

In [17]:
#define fifth url for scraping
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

#delay to allow site to load
time.sleep(3)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [18]:
hemi_imgs = []

hemi_names = soup.find_all('h3')

In [19]:

for name in hemi_names:
    browser.click_link_by_partial_text(name.text)
    #delay to allow site to load
    time.sleep(3)
    html = browser.html
    soup = BeautifulSoup(html, 'lxml')
    
    url_li = soup.find('li')
    url_a = url_li.find('a')
    url_pic = url_a.get('href')

    hemi_imgs.append({'title': name.text, 'img_url': url_pic})
    browser.back()
    #delay to allow site to load
    time.sleep(1)

C:\Users\jerem\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [20]:
browser.quit()
print(hemi_imgs)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]